.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-image: url(shoes2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-page section {
  position: relative;
  max-width: 500px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  transition: all 0.5s ease-in-out;
  flex-direction: column;
}

.login-page h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.login-page .inputbox {
  position: relative;
  margin: 20px 0;
  max-width: 550px;
  border-bottom: 2px solid #fff;
  transition: all 0.5s ease-in-out;

}

.login-page .inputbox input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: white;
}

.login-page .inputbox ion-icon {
  position: absolute;
  right: 8px;
  top: 12px;
  color: white;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.login-page .inputbox label {
  position: absolute;
  top: 40%;
  left: 5px;
  color: white;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.login-page input:focus ~ label,
.login-page input:valid ~ label {
  top: -5px;
  color: #a8a8a8;
  font-size: 0.9rem;
}

.login-page button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}

.login-page button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.login-page .register {
  margin: 25px 0 10px;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.login-page .register p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.login-page .register p a:hover {
  text-decoration: none;
  color: #a8a8a8;
}
